@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Tilt+Neon&display=swap');
  header{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 34px;
    padding: 2px;
  }

  body{
    background-color: black;
  }

  footer{
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #fc83b2;
    color: #00758A;
    font-size: 12px;
    padding: 5px;
  }

  .container {
    height: 200px;
    position: relative;
    border: 1px solid white;
    background-color: #00758A;
  }

  .vertical-center {
    position: relative;
    margin: 24px 24px 24px 24px;
    top:50%;
    left:50%;
    transform: translate(-51%, +7.5%);
  }

  .button1 {
    height: 32px;
    color: #fc83b2;
    font-family: "Josefin Sans", "Monaco", "Lucida Console", "Courier New";
    font-size: 24px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    transition: ease-out 0.5s;
  }

.button1:hover {
    color: #00758A;
    font-size: 26px;
    padding: 2px;
    cursor: pointer;
}

.slide-container {
    position: relative;
    height: 256px;
    width: 455px;
    margin-left: auto;
    margin-right: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 0%;
    height: 50%;
    width: auto;
    color: white;
    font-weight: lighter;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    transition: ease-in .2s;
    padding: 25% 1% 1.45% 1%;
    display: table-cell;
    vertical-align: center;
}

.prev {
    left: -5%;
    border-radius: 5px 0px 0px 5px
}

.next {
    right: -5%;
    border-radius: 0px 5px 5px 0px;
}

.prev:hover{
    left: -6%;
    background-color: #00758A;
    padding: 25% 2% 1.45% 1%;
}
.next:hover {
    right: -6%;
    background-color: #00758A;
    padding: 25% 1% 1.45% 2%;
}

  h1{
    color: white;
    font-family: "Josefin Sans", "Monaco", "Lucida Console", "Courier New";
    font-size: 34px;
  }

  h2{
    color: white;
    font-family: "Josefin Sans", "Monaco", "Lucida Console", "Courier New";
    font-size: 28px;
  }

  p{
    color: white;
    font-size: 16px;
    font-family: "Josefin Sans", "Monaco", "Lucida Console", "Courier New";
  }
  
  a{
    color: #fc83b2;
    font-size: 24px;
    font-family: "Josefin Sans", "Monaco", "Lucida Console", "Courier New";
  }